/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  color: #f3f3f3;
  background-color: #141414;
}
.title {
  font-size: 3rem;
  margin-bottom: 5rem;
  font-family: 'Rubik';
  font-weight: 900;
}
.container {
  height: 25rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .rgb-text {
  font-size: 2rem;
}
.container .wheel {
  height: 15rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .enter {
  height: 2rem;
  width: 6.5rem;
  border-radius: 1rem;
  border-style: none;
  color: white;
  background-color: #0275d8;
}
.new-color {
  height: 2rem;
  width: 6.5rem;
  border-radius: 1rem;
  border-style: none;
  color: white;
  background-color: #5BC0DE;
}
.container .points {
  font-size: 1.5rem;
  width: 20rem;
  text-align: center;
}
.logo-img {
  margin-top: 3rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

/* Tablet CSS */
@media only screen and (max-width: 70em) {
  .title {
    font-size: 4rem;
  }
  .container .rgb-text {
    font-size: 2.5rem;
  }
  .container .wheel {
    width: 25rem;
    height: 25rem;
  }
  .container .enter {
    height: 2.5rem;
    width: 8rem;
  }
  .new-color {
    height: 2.5rem;
    width: 8rem;
  }
}

/* Mobile CSS */
@media only screen and (max-width: 38em) {
  .title {
    font-size: 2.75rem;
  }
  .container .rgb-text {
    font-size: 2rem;
  }
  .container .wheel {
    height: 15rem;
    width: 20rem;
  }
  .container .enter {
    height: 2rem;
    width: 6.5rem;
  }
  .new-color {
    height: 2rem;
    width: 6.5rem;
  }

}

/* CSS for Small Mobiles */
@media only screen and (max-width: 20em) {

  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .container {
    height: 22rem;
  }
  .container .rgb-text {
    font-size: 1.25rem;
  }
  .container .wheel {
    height: 13rem;
    width: 15rem;
  }
  .container .points {
    font-size: 0.8rem;
    width: 18rem;
  }
  .logo-img {
    margin-top: 0rem;
  }
}